[Unit]
Description=Mesh creation
After=network.target
Wants=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/modprobe batman-adv
ExecStartPre=/usr/bin/sysctl -w net.ipv4.ip_forward=1
ExecStartPre=/usr/bin/ip link set mtu 1532 dev wlan0
ExecStartPre=/usr/bin/iw wlan0 set type ibss
ExecStartPre=/usr/bin/ip link set wlan0 up
ExecStartPre=/usr/bin/iw wlan0 ibss join mesh 2462 HT20
ExecStart=/usr/local/sbin/batctl if add wlan0
ExecStart=/usr/bin/ip link set bat0 up
ExecStart=/usr/local/sbin/batctl gw_mode server
ExecStart=/usr/bin/ip addr add 192.168.202.1/24 broadcast 192.168.202.255 dev bat0
ExecStartPost=/usr/bin/systemctl start dhcpd4@bat0
ExecStartPost=/usr/bin/iptables -t nat -A POSTROUTING -o int0 -j MASQUERADE
ExecStartPost=/usr/bin/iptables -A FORWARD -i int0 -o bat0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
ExecStartPost=/usr/bin/iptables -A FORWARD -i bat0 -o int0 -j ACCEPT
ExecStop=/usr/bin/echo 0 > /proc/sys/net/ipv4/ip_forward
ExecStop=/usr/bin/ip link set wlan0 down
ExecStop=/usr/bin/ip addr flush dev wlan0
ExecStop=/usr/bin/ip route flush dev wlan0
ExecStop=/usr/bin/iw wlan0 set type managed
ExecStop=/usr/bin/iptables -t nat -D POSTROUTING -o int0 -j MASQUERADE
ExecStop=/usr/bin/iptables -D FORWARD -i int0 -o bat0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
ExecStop=/usr/bin/iptables -D FORWARD -i bat0 -o int0 -j ACCEPT
ExecStop=/usr/bin/sysctl -w net.ipv4.ip_forward=0
ExecStop=/usr/bin/rmmod batman-adv
ExecStop=/usr/bin/ip link set mtu 1500 dev wlan0
ExecStop=/usr/bin/systemctl stop dhcpd4@bat0

[Install]
WantedBy=multi-user.target
